body {
  font-family: Arial, sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 20px;
}

.voucher-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.voucher-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.voucher-content {
  flex-grow: 1;
  margin-bottom: 10px;
}


.popup-button {
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-top: 5px;
}

.popup-button:hover {
  background-color: darkblue;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 350px;
  position: relative;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.popup-buttons button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-buttons button:nth-child(2) {
  background-color: green;
}

.popup-buttons button:hover {
  opacity: 0.9;
}

.qr-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.qr-code-container button {
  margin-top: 15px;
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.qr-code-container button:hover {
  opacity: 0.9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigate-logs-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.navigate-logs-button:hover {
  background-color: #0056b3;
}

